#page__index {
  #forsidetop {
    width: 100%;
    background-image: url(../images/bilisolen.jpg);
    background-size: cover;
    padding-top: 40%;
    height: 0;
    background-repeat: no-repeat;
    position: relative;
  }
  #soegbil {
    display: flex;
    flex-direction: column;
    border: 3px solid white;
    padding: 1% 2% 0 2%;
    color: white;
    font-size: 1.5em;
    background: rgba(0, 0, 0, 0.5);
    height: auto;
    position: absolute;
    left: 5%;
    top: 30%;
    label {
      margin-bottom: 2%;
    }
  }
  #soegbil h2 {
    text-align: center;
    margin-bottom: 5%;
    font-weight: bold;
  }
  #soegbilknap {
    margin: 0 25% 0 25%;
    width: 50%;
  }
  .personogkuffert {
    text-align: center;
  }
  .reviewslides {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 15%;
    right: 5%;
    font-size: 2.5em;
    font-family: "Sigmar One", cursive;
  }
  .myReviews {
    display: none;
  }
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3.5s;
    animation-name: fade;
    animation-duration: 3.5s;
  }

  @-webkit-keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  .figur {
    margin: 2% 10% 0 10%;
    border: 2px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
  }
  .bilbillede {
    width: 20%;
  }
  .model {
    font-size: 2em;
    text-align: center;
    font-weight: bold;
  }

  form#soegbil {
    padding: 2%;
  }

  #soegbil label {
    text-decoration: underline;
  }
  .pris {
    margin-right: 10%;
    font-size: 2em;
    color: red;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: black;
  }
  .prisogbook {
    display: flex;
    align-items: center;
  }
  .bookknap {
    text-decoration: none;
    padding: 5px 6px 2px 6px;
    border-top: 1px solid #cccccc;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #cccccc;
    font-size: 1.5em;
    font-weight: bold;
    background-color: rgb(77, 69, 5);
    color: white;
    cursor: pointer;
  }
  .bookknap:hover {
    background-color: rgb(250, 214, 10);
    color: black;
    transform: scale(1.1);
    transition: transform 0.3s, background-color 10s ease, color 5s;
  }

  input {
    margin: 2% 0 2% 0;
  }

  select {
    margin: 2% 0 2% 0;
  }
  .infoknap {
    text-decoration: none;
    margin-left: 2%;
    padding: 5px 6px 2px 6px;
    border-top: 1px solid #cccccc;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #cccccc;
    font-size: 1.2em;
    font-weight: bold;
    background-color: red;
    color: white;
    cursor: pointer;
    &:active {
      transform: (0.9);
    }
    &:hover {
      transform: scale(1.1);
      transition: transform 0.3s;
    }
  }
  .btn-close {
    background-color: transparent;
    border: none;
    font-size: 1.5em;
  }
  .modal {
    width: 450px;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgb(250, 214, 10);
    z-index: 2;
    display: none;
  }

  .modalheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em;
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid #ccc;
    font-family: "Sigmar One", cursive;
  }
  .modalbody {
    padding: 1em;
  }
  #overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  #overlay.active {
    display: block;
  }
}
