@charset "UTF-8";
/*Jeg har ikke taget udgangspunkt i Viewports men mere fokus på javascripten, siden fungerer bedst på PC skærm */
/* Eric Meyer's CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* End of Eric Meyer's CSS Reset */
header #banner {
  background-color: #cbdf1c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1%;
}

header #banner a {
  color: black;
  text-decoration: none;
}

header #banner a:hover {
  color: #f59f00;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

header .fa fa-user-circle {
  text-align: center;
}

header #banner h1 {
  font-family: "Sigmar One", cursive;
  font-size: 2em;
  padding-top: 5%;
}

header #login {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: right;
  margin-right: 2%;
  font-size: 1.2em;
}

header #head1 {
  position: relative;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: black;
  color: white;
  font-size: 1.25em;
}

footer a {
  color: white;
}

#page__index #forsidetop {
  width: 100%;
  background-image: url(../images/bilisolen.jpg);
  background-size: cover;
  padding-top: 40%;
  height: 0;
  background-repeat: no-repeat;
  position: relative;
}

#page__index #soegbil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 3px solid white;
  padding: 1% 2% 0 2%;
  color: white;
  font-size: 1.5em;
  background: rgba(0, 0, 0, 0.5);
  height: auto;
  position: absolute;
  left: 5%;
  top: 30%;
}

#page__index #soegbil label {
  margin-bottom: 2%;
}

#page__index #soegbil h2 {
  text-align: center;
  margin-bottom: 5%;
  font-weight: bold;
}

#page__index #soegbilknap {
  margin: 0 25% 0 25%;
  width: 50%;
}

#page__index .personogkuffert {
  text-align: center;
}

#page__index .reviewslides {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 15%;
  right: 5%;
  font-size: 2.5em;
  font-family: "Sigmar One", cursive;
}

#page__index .myReviews {
  display: none;
}

#page__index .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3.5s;
  animation-name: fade;
  animation-duration: 3.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

#page__index .figur {
  margin: 2% 10% 0 10%;
  border: 2px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

#page__index .bilbillede {
  width: 20%;
}

#page__index .model {
  font-size: 2em;
  text-align: center;
  font-weight: bold;
}

#page__index form#soegbil {
  padding: 2%;
}

#page__index #soegbil label {
  text-decoration: underline;
}

#page__index .pris {
  margin-right: 10%;
  font-size: 2em;
  color: red;
  font-weight: bold;
  text-decoration: underline;
  -webkit-text-decoration-color: black;
          text-decoration-color: black;
}

#page__index .prisogbook {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#page__index .bookknap {
  text-decoration: none;
  padding: 5px 6px 2px 6px;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #cccccc;
  font-size: 1.5em;
  font-weight: bold;
  background-color: #4d4505;
  color: white;
  cursor: pointer;
}

#page__index .bookknap:hover {
  background-color: #fad60a;
  color: black;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: background-color 10s ease, color 5s, -webkit-transform 0.3s;
  transition: background-color 10s ease, color 5s, -webkit-transform 0.3s;
  transition: transform 0.3s, background-color 10s ease, color 5s;
  transition: transform 0.3s, background-color 10s ease, color 5s, -webkit-transform 0.3s;
}

#page__index input {
  margin: 2% 0 2% 0;
}

#page__index select {
  margin: 2% 0 2% 0;
}

#page__index .infoknap {
  text-decoration: none;
  margin-left: 2%;
  padding: 5px 6px 2px 6px;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #cccccc;
  font-size: 1.2em;
  font-weight: bold;
  background-color: red;
  color: white;
  cursor: pointer;
}

#page__index .infoknap:active {
  -webkit-transform: 0.9;
          transform: 0.9;
}

#page__index .infoknap:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

#page__index .btn-close {
  background-color: transparent;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}

#page__index .modal {
  width: 450px;
  position: fixed;
  left: 50%;
  top: 15%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fad60a;
  z-index: 2;
  display: none;
}

#page__index .modalheader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5em 1em;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid #ccc;
  font-family: "Sigmar One", cursive;
}

#page__index .modalbody {
  padding: 1em;
}

#page__index #overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#page__ekstra h1 {
  margin-top: 2%;
  font-family: "Sigmar One", cursive;
  font-size: 2em;
  text-align: center;
  background-color: #cbdf1c;
}

#page__ekstra #valgtebil {
  padding: 2%;
  margin: 2% 10% 0 10%;
  border: 2px solid black;
  background: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#page__ekstra #valgtebil h2 {
  font-family: "Sigmar One", cursive;
  text-align: center;
  font-size: 3em;
  padding-top: 1.5%;
}

#page__ekstra #valgtebil #ekstraoutput {
  font-size: 1.5em;
  color: white;
}

#page__ekstra img {
  width: 50%;
  margin: 0 25% 0 25%;
}

#page__ekstra form {
  background-color: #cbdf1c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#page__ekstra #ekstraudstyr {
  font-family: "Sigmar One", cursive;
  padding: 2% 0 2% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#page__ekstra .check {
  margin: 0 0 5% 0;
}

#page__ekstra button {
  margin: 0 0 0 2%;
  text-decoration: none;
  padding: 5px 6px 2px 6px;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #cccccc;
  font-size: 1.5em;
  font-weight: bold;
  background-color: #4d4505;
  color: white;
  cursor: pointer;
}

#page__ekstra #totalprisplusudstyr {
  color: white;
  font-size: 2.5em;
  font-family: "Sigmar One", cursive;
  background: red;
  height: 20%;
  margin-top: 5%;
}

#pages__personal form {
  font-family: "Sigmar One", cursive;
}

#pages__personal #oplysninger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: red;
}

#pages__personal #dineoplysninger {
  background-color: red;
  text-align: center;
  margin-top: 4%;
}

#pages__personal #dineoplysninger input {
  margin: 6% 0 4% 0;
}

#pages__personal #dineoplysninger label {
  color: white;
}

#pages__personal #biloplysninger {
  background-color: red;
  color: white;
  font-family: "Sigmar One", cursive;
  font-size: 1.2em;
  width: 35%;
}

#pages__personal #biloplysninger h2 {
  font-size: 2.5em;
  text-align: center;
}

#pages__personal button {
  margin: 1% 0 2% 0;
  text-decoration: none;
  padding: 5px 6px 2px 6px;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #cccccc;
  font-size: 1.5em;
  font-weight: bold;
  background-color: #4d4505;
  color: white;
  cursor: pointer;
}

#pages__personal #prisforbilen {
  margin: 2% 0 2% 0;
}

#pages__personal #udstyrvalgt {
  margin: 2% 0 2% 0;
  text-align: right;
}

#pages__personal #afhentningogaflevering {
  margin: 2% 0 2% 0;
  text-align: left;
}

#pages__personal #totalprisnu {
  margin: 2% 0 2% 0;
  display: inline;
  float: right;
  text-decoration: underline;
  -webkit-text-decoration-color: black;
          text-decoration-color: black;
}

#pages__personal #prisforudstyr {
  text-decoration: underline;
  -webkit-text-decoration-color: black;
          text-decoration-color: black;
  margin-bottom: 1%;
}

#pages__personal .mySlides {
  display: none;
}

#pages__personal .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

#pages__confirm #kvittering {
  text-align: center;
  font-family: "Sigmar One", cursive;
  background-color: red;
  color: white;
  font-size: 1.5em;
  padding: 2%;
}

#pages__confirm #kvittering h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 1% 0 1% 0;
}

#pages__confirm #kvittering h2 {
  text-decoration: underline;
  font-size: 1.75em;
  margin-bottom: 2%;
}

#pages__confirm #altinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#pages__confirm #sentinfo {
  background-color: #fad60a;
  color: black;
}
/*# sourceMappingURL=style.css.map */