header {
  #banner {
    background-color: rgb(203, 223, 28);
    display: flex;
    justify-content: space-evenly;
  }
  .fa fa-user-circle {
    text-align: center;
  }
  #banner h1 {
    font-family: "Sigmar One", cursive;
    font-size: 2em;
    margin-left: 2%;
    padding-top: 1%;
  }
  #login {
    display: inline-flex;
    text-align: right;
    margin-right: 2%;
    padding-top: 1%;
    font-size: 1.2em;
  }
  #head1 {
    position: relative;
  }
}
